@import "./modules/fonts";
@import "themes/dark";
@import "themes/light";
@import "modules/variables";
@import "modules/common";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

html, body, #app{
  width: 100%;
  height: 100%;
}

#app{
  font-family: "Roboto Regular", sans-serif;
}